<div class="flex h-screen items-center justify-center">
  <div class="w-1/3 border border-slate-600 px-12 py-10">
    <div class="flex flex-col justify-start">
      <div>hello world</div>
      <img src="" alt="QR Code" id="qrcode" />
      <ul id="logs"></ul>
      <form id="usrform" action="/send" method="post" enctype="multipart/form-data">
        <input type="file" name="contacts-list" />
        <input type="submit" />
      </form>
      <textarea rows="4" cols="30" name="message" form="usrform"> Enter text here...</textarea>
    </div>
  </div>
</div>
